* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
  }

  .home {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.923);
    position: relative;
    top: 4vh;
    left: 60vw;
  }
  
  .container {
    width: 30vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  input {
    padding: 5px;
  }
  
  button {
    width: 20%;
    color: white;
    background-color: rgb(36, 36, 244);
    border: none;
    border-radius: 2px;
    padding: 5px;
  }
  
  h2 {
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding: 10px;
  }