* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
  }

  .imagem-fundo {
    width: 100vw;
    height: 88vh;
    background-image: url('/imagens/bgtodolist.jpg');
    background-size: cover;
  }

  header {
    width: 100vw;
    height: 12vh;
    background: rgba(245, 205, 25, 0.763);
    display: flex;
    justify-content: center;

    h1 {
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
  
  .todo-app {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f48e09c4;
    padding: 1.5rem;
    border-radius: 15px;
    position: relative;
    top: 15vh;
  }
  
  .botao {
    background-color: #fff;
    color: #f15720;
    border: 1px solid rgba(0, 0, 0, 0.57);
    transition: 0.2s;
    border-radius: 50%;
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botao:hover{
    background-color: #f15720;
    color: #fff;
  }
  
  .botao i {
    pointer-events: none;
  }

  input {
    padding: 5px 8px;
    border-radius: 10px;
    border: solid 0.5px rgba(0, 0, 0, 0.249);
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: start;
  
    p {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }

  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #221f1f;
    transition: .3s;
  }

  .bloco {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .bloco2 {
    display: flex;
    gap: 5px;
  }
  
  .bloco3 {
    display: flex;
    gap: 5px;
  }
  
  .todo.done h3 {
    text-decoration: line-through;
    text-decoration-color: rgba(0, 0, 0, 0.803);
  }

  .voltar {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.923);
    position: relative;
  }

  @media (min-width: 400px) {
  
  header {
  
    h1 {
      font-size: 100px;
      margin-top: 20px;
    }
  }

  .todo {
    padding: 25px;
  }

  .todo-app {
    min-width: 400px;
    left: 40vw;
  }

  .botao {
    width: 25px;
    height: 25px;
  }

  .botao i {
    font-size: 15px;
  }
  
  input {
    width: 300px;
    height: 30px;
  }

  .voltar {
    width: 30px;
    height: 30px;
    top: 10vh;
    left: 25vw;
  }

  .bloco3 {
    margin-top: -25px;
  }

}
  
@media (max-width: 400px) {
  
  header {
  
    h1 {
      font-size: 14vw;
      margin-top: 50px;
    }
  }

  .todo {
    padding: 12px 5px;
    font-size: 3vw;
    word-break: break-all;
    white-space: normal;
  }

  .todo-app {
    min-width: 70vw;
    width: auto;
    max-width: 90vw;
    left: 5vw;
  }

  .botao {
    width: 20px;
    height: 20px;
  }

  .botao i {
    pointer-events: none;
    font-size: 10px;
  }
  
  input {
    width: auto;
    height: 25px;
  }

  .voltar {
    width: 20px;
    height: 20px;
    top: 16vh;
  }

  .bloco {
    font-size: 5vw;
  }

  .bloco3 {
    margin-top: -20px;
  }
} 